@import url(misoregular.css);
@import url(leaguegothic.css);

body {
	background-color:white;
	height: 90%;
	font-family: 'MisoRegular';
}

#panelContainer {
	height: 100%;
	width: 100%;
}

#panelContainer .panelOuterWrapper {
	width: 33%;
	height: 50%;
	float: left;
}

#panelContainer .panelOuterWrapper .panelInnerWrapper {
	margin: 30px;
	padding: 15px;
	background: #F0F0F0;
	border-style:solid;
    border-width:1px;
	height: 90%;
	overflow: hidden;
	-webkit-border-radius: 5px; 
	border-radius: 5px;	
}

.panel .logo {
	float: right;
	padding: 10px;
}
.panel .logo img {
	max-width: 75px;
	max-height: 75px;
}

.panel .title {
  font-family: 'League Gothic';
	font-size: 30pt;
	padding: 5px 0;
}
.panel .title .when {
	color: #D11919;
	font-size: 30pt;
}
.panel .title a {
	text-decoration: none;
	color: black;
}
.panel .description {
	font-size: 20pt;
	padding: 5px 0;
}

#infoScreen {
	position: absolute;
	height: 100%;
	width: 99%;
	top: 0;
	background-color:white;
	display: none;
}
#infoScreen #techcube {
	text-align: center;
	padding: 50px 0;
}
#infoScreen #techcube img {
	max-height: 500px;
	max-width: 1000px;
}
#infoScreen #techcubepeople {
	text-align: center;
	padding: 50px 10px;
}
#infoScreen #techcubepeople img {
	margin: 10px;
	max-height: 150px;
	max-width: 150px;
	vertical-align: middle;
}

#sodashTwitterWall {
  width: 99%; /* 100% would be normal -- but given that body has a margin (?!), we go smaller to avoid scroll bars. */
  height: 99%;
  padding: 0px;
  margin: 0px;
  border: none;
  position: absolute;
  top: 0px;
  display: none;
}

#sodashTwitterWall iframe {
  border: none;
  width: 100%;
  height: 100%;
}

