@import url(misoregular.css);
@import url(leaguegothic.css);

body {
	background-color:white
;
	height: 90%;
	font-family: 'MisoRegular';
}

#panelContainer {
	height: 100%;
	width: 100%;
}

#panelContainer .panelOuterWrapper {
	width: 33%;
	height: 50%;
	float: left;
}

#panelContainer .panelOuterWrapper .panelInnerWrapper{
	margin: 30px;
	padding: 15px;
	background: #F0F0F0;
	border-style:solid;
    border-width:1px;
	height: 90%;
	overflow: hidden;
	-webkit-border-radius: 5px; 
	border-radius: 5px;	
}

.panel .logo {
	float: right;
	padding: 10px;
}
.panel .logo img {
	max-width: 75px;
	max-height: 75px;
}

.panel .title {
  font-family: 'League Gothic';
	font-size: 30pt;
	padding: 5px 0;
}
.panel .title .when {
	color: #D11919;
	font-size: 30pt;
}
.panel .title a {
	text-decoration: none;
	color: black;
}
.panel .description {
	font-size: 20pt;
	padding: 5px 0;
}

#infoScreen {
	position: absolute;
	height: 100%;
	width: 99%;
	top: 0;
	background-color:white;
	display: none;
}
#infoScreen #techcube {
	text-align: center;
	padding: 50px 0;
}
#infoScreen #techcube img {
	max-height: 500px;
	max-width: 1000px;
}
#infoScreen #techcubepeople {
	text-align: center;
	padding: 50px 10px;
}
#infoScreen #techcubepeople img {
	margin: 10px;
	max-height: 150px;
	max-width: 150px;
}


#busTracker {
	position: absolute;
	height: 100%;
	width: 99%;
	top: 0;
	background-image: url('map.png');
	background-repeat: no-repeat;
	background-position: 0px -50px;
	display: none;
}

#busTrackerTest {
	position: absolute;
	height: 100%;
	width: 99%;
	top: 0;
	background-image: url('map.png');
	background-repeat: no-repeat;
}


#toMeadows {
	position: absolute;
	top: 125px;
	left: 1560px;
}

#toMayfieldRoad {
	position: absolute;
	top:320px;
	left:770px;
}

#toCameronToll {
	position:absolute;
	top: 810px;
	left: 1140px;
}

#toCommiePool
{
	position:absolute;
	top: 660px;
	left: 1495px;
}

#toTown {
	position: absolute;;
	top: 490px;
	left: 690px;
}

#techCubePosition {
	position:absolute;
	top:270px;
	left:970px;
}

#resultOutput {
	display:none;
}

.stop {
	background-color: rgba(0,0,0,0.4);
	padding: 20px;
	font-size:24pt;
	color:white;
	width:140px;
}
